.irs--round .irs-bar {
   background-color: red !important;
}

.irs--round .irs-handle {
  background-color: red !important;
  border-color: red !important;
  box-shadow: 0px 0px 0px 5px rgba(0, 194, 192, 0.2);
}

.irs--round .irs-handle.state_hover, 
.irs--round .irs-handle:hover {
   background-color: red !important;
}

.irs--round .irs-handle {
  width: 16px;
  height: 16px;
  top: 29px;
  
}

.irs--round .irs-from, 
.irs--round .irs-to, 
.irs--round .irs-single {
  background-color: red !important;
  color: #666666;
}

.irs--round .irs-from:before, 
.irs--round .irs-to:before, 
.irs--round .irs-single:before,
.irs--round .irs-min, 
.irs--round .irs-max {
  display: none;
}
#custom-btn{
  border: none;
  outline: 0 !important;
  
}
#custom-btn:hover{
  outline: 0 !important;
  box-shadow: none;
  
}
